
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
@Html.Action("GetAd", "BannerAd")
<h2></h2>

@Html.Partial("_FeaturedProduct")

@Html.Action("GetQuote", "Quote")
